@font-face {
  font-family: "8BIT WONDER";
  src: local("8BIT WONDER"), url(./fonts/8bit.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "AncientModernTales";
  src: local("AncientModernTales"),
    url(./fonts/AncientModernTales-a7Po.ttf) format("truetype");
}

@font-face {
  font-family: "PerfectDos";
  src: local("PerfectDos"), url(./fonts/PerfectDos.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "PerfectDos";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  background: url(bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page_centralized {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  max-width: 500px;
  background-color: #000000;
  justify-content: center;
  border: 5px solid #ffffff;
  padding: 1em 3em 2em;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__item {
  display: flex;
  align-items: center;
  padding-bottom: 1.7em;
  width: 100%;
}

.card__item {
  width: 100%;
}

.card__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__footer {
  text-align: center;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card__footer_link {
  width: 100%;
  padding-top: 0.5em;
}

.card__header {
  text-align: center;
  font-size: 2.5rem;
}

.form__label {
  font-size: 22px;
  width: 50%;
}

.form__input {
  color: white;
  width: 100%;
  justify-self: end;
  max-width: 300px;
  font-family: "PerfectDos";
  font-size: 22px;
  background-color: #000000;
  border-width: 0;
}

.form__input:focus {
  outline: none;
}

.form__input_textual-sm {
  padding: 0.3rem 0;
}

.button {
  max-width: 120px;
}

.form__submit-button {
  border: 0;
  font-family: "8BIT WONDER";
  background: none;
  color: white;
  font-size: 16px;
  margin-top: 0.5rem;
}

.form__submit-button:hover {
  cursor: pointer;
}

.form__error {
  color: rgb(255, 56, 56);
  border: 1px solid rgb(253, 67, 67);
  background-color: rgb(255, 189, 189);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 0.5rem;
  animation: appear 0.4s ease;
  width: 100%;
}

.header {
  height: 50px;
  border-bottom: solid 2px #8dc5c1;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}

.container {
  padding: 0 10em;
}

.header_logo {
  font-family: "AncientModernTales";
  font-size: 35px;
  background: -webkit-linear-gradient(rgb(192, 192, 192) 3%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-screen-header {
  font-family: "AncientModernTales";
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
}

.start-screen-header__large-text {
  font-size: 70px;
  background: -webkit-linear-gradient(
    rgb(255, 244, 143),
    rgba(255, 230, 0, 0.4)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-screen-header__small-text {
  font-size: 30px;
  background: -webkit-linear-gradient(
    rgb(255, 244, 143),
    rgba(255, 230, 0, 0.4)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: flex-end;
  margin-top: -40px;
  margin-right: -15px;
}

.sceptic-guy {
  width: 400px;
}
.sceptic-guy__text {
  background: white;
  min-height: 40px;
  max-width: 250px;
  border: solid 10px black;
  border-radius: 20px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: -40px;
  position: relative;
}

.sceptic-guy__text::before {
  content: " ";
  position: absolute;
  right: -32px;
  width: 0;
  height: 0;
  top: 23px;
  border: 20px solid;
  border-color: transparent transparent #000 #000;
  transform: rotate(30deg);
}

.sceptic-guy__text::after {
  content: " ";
  position: absolute;
  right: -20px;
  width: 0;
  height: 0;
  top: 17px;
  border: 17px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(30deg);
}

.sceptic-guy__image {
  width: 100%;
  object-fit: cover;
  padding-bottom: 30px;
}
